<app-menu-title></app-menu-title>
<header>
  <h1>Meu Blog Pessoal</h1>
</header>
<div class="post-container">
  <div class="post-container">
    <app-big-card></app-big-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
  <div class="post">
    <app-small-card></app-small-card>
  </div>
</div>
