/** @format */

.container__menu_title {
  color: white;

}
   h1{
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
   hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
