<div class="container__big-card">
  <div class="big-card__photo">
<img src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
  alt=""
  height="200px"
  width="300px"
  >
</div>
  <div class="big-card__title">
    <h1>A nova versao</h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, omnis, possimus veritatis temporibus ab architecto voluptatibus soluta nobis illo excepturi sed maiores, nulla est magni dicta vel voluptates similique ex!
    </p>
  </div>
</div>
